.l-header {
  background: rgba(220, 255, 220, 0.18); /* slight green tint, semi-transparent */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  backdrop-filter: blur(var(--blur-md));
  -webkit-backdrop-filter: blur(var(--blur-md));
  border-radius: 0 0 16px 16px; /* no border radius on top */
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  padding: 24px 24px 12px;

  @media (min-width: 800px) {
    padding: 24px 24px;
  }
}

.l-header__content {
  display: flex;
  flex: 1;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.l-header__logo {
  max-width: 450px;
  fill: url(#logo-gradient);
  filter: drop-shadow(1px 1px 0px rgb(255, 255, 255))
    drop-shadow(-1px -1px 0px rgb(255, 255, 255))
    drop-shadow(1px -1px 0px rgb(255, 255, 255))
    drop-shadow(-1px 1px 0px rgb(255, 255, 255))
    drop-shadow(3px 3px 0px rgb(255, 255, 255));
}

.l-header__highlightText {
  color: #2563eb;
  font-weight: 700;
  filter: drop-shadow(1px 1px 0px rgb(255, 255, 255))
    drop-shadow(-1px -1px 0px rgb(255, 255, 255))
    drop-shadow(1px -1px 0px rgb(255, 255, 255))
    drop-shadow(-1px 1px 0px rgb(255, 255, 255));
}
